{{/*<!-- 

  Blog Layout
  ===========

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: List

  LAYOUT: /layouts/blog/list.html
  DOCS:   /content/<language>/wiki/Help:Layout_Blog.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Description
  -----------

  The list layout page for the blog.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}


{{ define "main" }}

  <!-- Get the last element from the current URL -->
  {{ $lastUrlElement := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


  <!-- Page is blog or blogpage for a specific year -->
  {{ $is_blog := false }}
  {{ if (eq $lastUrlElement "blog") }}
    {{ $is_blog = true }}
  {{ end }}


  <!-- Check if path for pagination should be /blog/ or /blog/<year>/ -->
  {{ $current := "" }}
  {{ if eq $is_blog true }}
    {{ $current = (where .Site.RegularPages "Section" "blog") }}
  {{ else }}
    {{ $current = .Data.Pages }}
  {{ end }}



  <div class="container">
    <section class="section pt-5 pb-0">
      {{ if eq $is_blog false }}
        <a href="/blog/">&#8592; Back to blog</a>
      {{ end }}
      <div class="row">

		    <div class="col-12 col-xl-9 col-4xl-10">
          {{ if eq $is_blog false }}
            <h1 class="pb-4 mb-4 fst-italic">
              Archive &mdash;
              {{ $lastUrlElement }}
            </h1>
          {{ end }}
          <div class="container">
            <div class="row g-5">

              <!-- Setup paginate from "current" -->
              {{ $paginator := .Paginate $current -}}
              {{ range $paginator.Pages -}}

                <div class="col-12 col-4xl-6 ">
                  {{ partial "main/blog-post-list-layout.html" . -}}
                </div>
              {{ end -}}

              </div>
            </div>
          <!-- Pagination -->
          <div class="pagination justify-content-center">
            {{ $.Scratch.Set "paginator" true }}
            {{ template "_internal/pagination.html" . }}
          </div>
        </div>

        {{ partial "main/blog-sidebar.html" . }}
      </div>
    </section>
  </div>
{{ end }}
