{{/*<!-- 

  Blog Layout
  ===========

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Single

  LAYOUT: /layouts/blog/single.html
  DOCS:   /content/<language>/wiki/Help:Layout_Blog.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Description
  -----------

  The single layout page for the blog.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}
  <div class="container">
    <div class="section pt-5 pb-0">
    <a href="/blog/">&#8592; Back to blog</a>
      <div class="row g-5 justify-content-center">
        <div class="col-md-12 col-lg-9 col-xl-9">
          <article class="blog-post">
            <div class="blog-header">
              {{ if isset .Params "header_image" }}
                <div class="text-center">
                  <figure>
                    <img
                      data-sizes="auto"
                      class="img-fluid 
                {{ if eq .Site.Params.options.lazySizes true -}}
                        lazyload blur-up
                      {{ end }}"
                      src="{{ .Params.header_image }}"
                    />
                  </figure>
                </div>
              {{ end }}
              <h1 class="blog-post-title">
                {{ .Title }}{{ if eq .Draft true }}
                  <span class="badge bg-danger">Draft</span>
                {{ end }}
              </h1>
              <p class="blog-post-meta">
                {{ partial "main/blog-meta.html" . }}
              </p>
            </div>
            <p class="lead">{{ .Params.lead | safeHTML }}</p>

            <div class="clearfix">
              {{ if isset .Params "floating_image" }}
                {{ $width := 50 }}
                {{ $position := "right" }}
                {{ $margin := "left" }}
                {{ $margin_bot := "0" }}
                <!-- width -->
                {{ if isset .Params "floating_image_width" }}
                  {{ $width =  .Params.floating_image_width }}
                {{ end }}
                <!-- bot margin -->
                {{ if isset .Params "floating_image_margin_below" }}
                  {{ if eq .Params.floating_image_margin_below "true" }}
                    {{ $margin_bot = "32" }}
                  {{ end }}
                {{ end }}
                <!-- position -->
                {{ if isset .Params "floating_image_position" }}
                  {{ if ne .Params.floating_image_position "right" }}
                    {{ $margin = "right" }}
                    {{ if ne .Params.floating_image_position "left" }}
                      {{ errorf "Failed to set the floating image position to: %s. The image position must be \"left\" or \"right\"." .Params.floating_image_position }}
                    {{ end }}
                  {{ end }}
                  {{ $position =  .Params.floating_image_position }}
                {{ end }}
                <figure
                  style="max-width: {{ $width }}%; 
                     float:{{ $position }}; 
                     margin-{{ $margin }}: 30px;
                     margin-bottom: {{ $margin_bot }}px;
                     margin-top: 0;
          "
                >
                  <img
                    data-sizes="auto"
                    class="img-fluid
                {{ if eq .Site.Params.options.lazySizes true -}}
                      lazyload blur-up
                    {{ end }}"
                    src="{{ .Params.floating_image }}"
                  />
                  {{ if isset .Params "floating_image_caption" }}
                    <figcaption class="figure-caption">
                      <center>
                        <em>{{ .Params.floating_image_caption | safeHTML }}</em>
                      </center>
                    </figcaption>
                  {{ end }}
                </figure>
              {{ end }}
              <p>{{ .Content }}</p>
            </div>
            <div class="blog-data-section">
              <!-- Last time edited -->
              {{ if ne .Page.Date .Page.Lastmod }}
                <p class="blog-post-updated text-muted ">
                  This blog post was updated on
                  {{ .Page.Lastmod.Format "January 2, 2006" -}}
                </p>
              {{ end }}
              <table class="blog-data-table">
                <tr>
                  <!-- Categories table head-->
                  {{ if isset .Params "categories" }}
                    <th>
                      <h5><i class="fa fa-folder-open"></i> Categories</h5>
                    </th>
                  {{ end }}
                  <!-- Tags table head-->
                  {{ if isset .Params "tags" }}
                    <th>
                      <h5><i class="fa fa-tag"></i> Tags</h5>
                    </th>
                  {{ end }}
                </tr>
                <tr>
                  <!-- Categories-->
                  <td>
                    {{ with .Params.categories }}
                      {{ range $index, $category := . -}}
                        {{ if gt $index 0 -}}
                          {{ if eq $index (sub (len $.Params.categories ) 1) }}
                            <span> and </span>
                          {{ else -}}
                            <span>, </span>
                          {{ end -}}
                        {{ end -}}<a
                          class="stretched-link position-relative"
                          href="{{ "/categories/" | relURL }}{{ . | urlize }}/"
                          >{{ . | title }}</a
                        >
                      {{- end }}
                    {{ end }}
                  </td>
                  <!-- Tags -->
                  <td>
                    {{ with .Params.tags }}
                      {{ range $index, $category := . -}}
                        {{ if gt $index 0 -}}
                          {{ if eq $index (sub (len $.Params.tags ) 1) }}
                            <span> and </span>
                          {{ else -}}
                            <span>, </span>
                          {{ end -}}
                        {{ end -}}<a
                          class="stretched-link position-relative"
                          href="{{ "/categories/" | relURL }}{{ . | urlize }}/"
                          >{{ . | title }}</a
                        >
                      {{- end }}
                    {{ end }}
                  </td>
                </tr>
              </table>
            </div>
          </article>
          {{ partial "main/blog-navigation.html" . }}
        </div>
        {{ partial "main/blog-sidebar.html" . }}
      </div>
    </div>
  </div>
{{ end }}
