/*
  Badge Shortcode
  ===============

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/badge.html
  STYLE:  /assets/scss/components/_shortcode_badge.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Badge.md

*/

/* Variants */
.badge-primary {
  color: darken($primary, 35%);
  background: lighten($primary, 30%);
}

.badge-secondary {
  color: darken($secondary, 40%);
  background: lighten($secondary, 45%);
}

.badge-danger {
  color: darken($danger, 35%);
  background: lighten($danger, 30%);
}

.badge-warning {
  color: darken($warning, 35%);
  background: lighten($warning, 30%);
}

.badge-success {
  color: darken($success, 20%);
  background: lighten($success, 30%);
}

/* Shapes */
.badge-rounded {
  border-radius: 3px;
}

.badge-pill {
  border-radius: 25px;
}

.badge-square {
  border-radius: 0;
}
