/*

  Dot Shortcode
  =============

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/dot.html
  STYLE:  /assets/scss/components/_shortcode_dot.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Dot.md

*/

.mp-dot-two,
.mp-dot {
  display: inline-block;
  border-radius: 50%;
  background: #f23c3c;

  /* font stays that color in dark and light mode */
  color: $body-color-dark;
  font-size: $font-size-base * 0.8;
  font-weight: 600;
  margin-left: 2px;
  margin-right: 2px;
}

.mp-dot-two::before,
.mp-dot-two::after,
.mp-dot::before,
.mp-dot::after {
  content: "\200B";
  display: inline-block;
  line-height: 0px;
  padding-top: 50%;
  padding-bottom: 50%;
}

.mp-dot::before {
  padding-left: 7px;
}

.mp-dot::after {
  padding-right: 7px;
}

.mp-dot-two::before {
  padding-left: 3px;
}

.mp-dot-two::after {
  padding-right: 3px;
}
