/*

  Rendered Shortcode
  ==================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 2
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/rendered.html
  STYLE:  /assets/scss/components/_shortcode_rendered.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Rendered.md

*/

.rendered {
  background-color: $body-color-dark;
}

[data-dark-mode] .rendered {
  table {
    --bs-table-bg: $gray-300;
  }

  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: $gray-300;
  }
}

@include color-mode(dark) {
  body .rendered {
    background-color: darken($body-color-dark, 60%);
  }
}
