{{ define "main" }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
      {{ range .Paginator.Pages }}
        <article>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ .Description }}
        </article>
      {{ end }}
      {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
{{ end }}
