{{ $g := . }}
{{ with $assets := partialCached "functions/get-script-assets.html" $g }}
  {{ with $g.Params.math }}
    {{ if and $g.Site.Params.options.kaTex . -}}
      <script
        src="{{ $assets.katex.RelPermalink }}"
        integrity="{{ $assets.katex.Data.Integrity }}"
        crossorigin="anonymous"
        defer
      ></script>
      <script
        src="{{ $assets.katexAutoRender.RelPermalink }}"
        integrity="{{ $assets.katexAutoRender.Data.Integrity }}"
        crossorigin="anonymous"
        defer
      ></script>
    {{ end -}}
  {{ end -}}
  <script
    src="{{ $assets.js.RelPermalink }}"
    integrity="{{ $assets.js.Data.Integrity }}"
    crossorigin="anonymous"
    defer
  ></script>
  {{ if and ($g.Site.Params.options.chartJs) ($g.HasShortcode "chart") -}}
    <script
      src="{{ $assets.chartJs.RelPermalink }}"
      integrity="{{ $assets.chartJs.Data.Integrity }}"
      crossorigin="anonymous"
      defer
    ></script>
  {{ end -}}
{{ end -}}

