{{/* <!--

  Landing Page
  ===================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT

  LAYOUT: /layouts/index.html

  Description
  -----------

  This is the landing page of the website.

  -->
*/}}

{{ define "main" }}
  <!-- Get members of the main room from data -->
  {{- $members := "0000" -}}
  {{ if isset $.Site.Data "matrix_rooms" }}
    {{- range $.Site.Data.matrix_rooms -}}
      {{- if eq .alias $.Site.Params.users_room -}}
        {{- with .members -}}
          {{- $members = math.Mul (math.Floor (math.Div . 100)) 100 -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}


  <section class="section container-fluid py-4">
    <div class="container">
      <div class="row justify-content-center text-center pt-4 pb-sm-2 py-lg-5">
        <div class="col">
          <h1 class="display-5 fw-bold lh-1 mt-0 mb-0">
            <span>Python Community on&nbsp;</span
            >{{- partial "main/embedded_image.html" "matrix-logo" -}}
          </h1>
          <p class="lead mb-3 mt-5">
            {{- .Params.lead | safeHTML -}}
          </p>
          <p class="lead mb-5">
            {{- i18n "learn-and-explore-python-with-over" }}
            {{ $members }} {{ i18n "members" -}}.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-center">
            <a
              class="btn btn-primary btn-lg px-4 me-md-2"
              role="button"
              href="https://app.element.io/"
              aria-disabled="true"
              target="_blank"
              rel="noopener"
            >
              {{ i18n "join-now" }}
            </a>
            <a
              class="btn btn-primary btn-lg px-4"
              role="button"
              href="{{ "docs/prologue/introduction/" | absURL }}"
            >
              {{ i18n "tutorial" }}
            </a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center text-center pt-4 pb-sm-2 py-lg-5">
        <div class="col-10">
          <div class="hero-image-tilt">
            <img
              src="/matrix-screenshot.png"
              class="hero-image mg-fluid lazyload blur-up"
              alt="Matix Client"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
{{ define "sidebar-prefooter" }}
  <!-- ??? --><!-- !!dots -->
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>

  <!-- START - Feature -->
  <section class="sr-bottom section section-sm">
    <div class="container">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon">
            <i class="fa fa-code"></i>
          </div>
          <h2>{{- i18n "matrix-feature-formatting-title" -}}</h2>
          <p>
            {{- i18n "matrix-feature-formatting-lead-pre-latex" }}
            {{ partial "main/fast-latex-icon.html" }}
            {{ i18n "matrix-feature-formatting-lead-post-latex" -}}
          </p>
          <a href="docs/tutorial/formatting/" class="icon-link">
            {{- i18n "matrix-feature-formatting-link" -}}
            <svg
              class="bi"
              width="1em"
              height="1em"
              id="chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <i class="fa fa-group"></i>
          </div>
          <h2>{{- i18n "coc" -}}</h2>
          <p>{{- i18n "matrix-feature-coc-lead" -}}</p>
          <a href="docs/code_of_conduct/" class="icon-link">
            {{- i18n "matrix-feature-coc-link" -}}
            <svg
              class="bi"
              width="1em"
              height="1em"
              id="chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <i class="fa fa-arrows-alt"></i>
          </div>
          <h2>{{- i18n "matrix-feature-decentralized-title" -}}</h2>
          <p>{{- i18n "matrix-feature-decentralized-lead" -}}</p>
          <a href="#" class="icon-link" target="_blank" rel="noopener">
            {{- i18n "matrix-feature-decentralized-link" -}}
            <svg
              class="bi"
              width="1em"
              height="1em"
              id="chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- END - Feature -->

  <!-- Matrix Clients -->
  <section class="sr-bottom section section-sm my-3 py-5 bg-light">
    <div class="container">
      <h2 class="h3 my-0 text-center">{{- i18n "matrix-clients" -}}</h2>
      <div class="row row-cols-1 row-cols-lg-3 justify-content-center g-4 mb-5">
        <!-- Element -->
        <div class="col">
          <div class="card h-100 text-center pt-1 card-tilt">
            <div class="card-body pb-1 tilt-z-offset">
              <a class="stretched-link" href="https://element.io/"></a>
              {{- partial "main/embedded_image.html" "element-logo" -}}
              <p class="mb-n10">
                {{ i18n "client-element-lead" }}
              </p>
              <p class="mb-n5 text-secondary">
                <font size="2"
                  >Web &#183; Windows &#183; Linux &#183; MacOS &#183; iOS
                  &#183; Android</font
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Cinny -->
        <div class="col">
          <div class="card h-100 text-center pt-1 card-tilt">
            <div class="card-body pb-1 tilt-z-offset">
              <a class="stretched-link" href="https://cinny.in/"></a>
              {{- partial "main/embedded_image.html" "cinny-logo" -}}
              <p class="mb-n10">
                {{ i18n "client-element-cinny" }}
              </p>
              <p class="mb-n5 text-secondary"><font size="2">Web</font></p>
            </div>
          </div>
        </div>
        <!-- gomuks -->
        <div class="col">
          <div class="card h-100 text-center pt-1 card-tilt">
            <div class="card-body pb-1 tilt-z-offset">
              <a
                class="stretched-link"
                href="https://maunium.net/go/gomuks/"
              ></a>
              <h4 class="h4 mt-3 pt-2 mb-4">gomuks</h4>
              <p class="mb-n10">
                {{ i18n "client-element-gomuks" }}
              </p>
              <p class="mb-n5 text-secondary">
                <font size="2">Windows &#183; Linux &#183; MacOS</font>
              </p>
            </div>
          </div>
        </div>
        <!-- end of cards -->
      </div>
      <div class="text-center pt-4">
        <p class="mb-0">
          <a
            href="https://matrix.org/clients/"
            class="icon-link"
            target="_blank"
            rel="noopener"
          >
            {{- i18n "full-list" }}
            <svg
              class="bi"
              width="1em"
              height="1em"
              id="chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </a>
        </p>
      </div>
    </div>
  </section>

  <!-- Blog Cards -->
  <section class="sr-bottom section container-fluid section-sm mt-3 pt-3">
    <div class="container">
      <h2 class="h3 mt-3 text-center">{{- i18n "latest-news-blog" -}}</h2>
      <div class="card-list">
        <div class="row ">
          <!-- Using a counter as workaround for "too many declarations in command" -->
          {{ $cnt := 0 }}
          {{- range first 8 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") -}}
          {{$cnt = add $cnt 1}}
            <div class="col-lg-6 col-md-12 p{{- if eq (mod $cnt 2) 0 -}} s {{- else -}} e {{- end -}}-5 py-2">
              {{- partial "main/blog-post-list-layout.html" . -}}
            </div>
          {{ end -}}
        </div>
      </div>
    </div>
  </section>
{{ end }}
