{{/*<!--

  Contributors Layout
  ===================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: List

  LAYOUT: /layouts/contributors/list.html
  DOCS:   /content/<language>/wiki/Help:Layout_Contributors.md

  Description
  -----------

  The list layout page for the contributors.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <article>
          <h1 class="text-center">{{ .Title }}</h1>
          <p class="text-center lead">{{ .Params.lead | safeHTML }}</p>
          <div class="text-center mb-5">{{ .Content }}</div>
          <div class="row mb-2 justify-content-center">
            {{ range .Data.Pages.ByDate -}}

              {{ $avatar_name := "" }}
              {{ $avatar := "" }}

              {{ if and (ne .Params.avatar nil) (isset .Params "avatar")}}
                <!-- avatar_name e.g. "foo.svg" -->
                {{ $avatar_name = .Params.avatar }}
                <!-- .Path is deprecated and reused for a canonical source path
                     The following constructor is used to archive an equivalent
                     behavior of $path as .Path was used before.
                -->
                {{ $path := "" }}
                {{ with .File }}
                  {{ $path = .Path }}
                {{ else }}
                  {{ $path = .Path }}
                {{ end }}
                <!-- avatar_path e.g. "/path/to/" -->
                {{ $avatar_path := path.Dir $path }}
                <!-- avatar e.g. "/path/to/foo.svg" -->
                {{ $avatar = $avatar_name | printf "/%s/%s" $avatar_path | printf "%s" }}
              {{ end }}

              <div class="col-xxl-4 col-lg-6 col-md-12">
                <div
                  class="
                    row
                    g-0
                    border
                    rounded
                    overflow-hidden
                    flex-md-row
                    mb-4
                    h-500
                    position-relative
                  "
                >
                  <div class="col p-4 flex-column position-static">
                    {{ if eq .Params.bot true -}}
                      <span class="badge text-bg-warning">Bot</span>
                    {{ end }}
                    {{ if eq .Params.matrix_moderator true -}}
                      <span class="badge text-bg-success">Moderator</span>
                    {{ end }}
                    {{ if eq .Params.matrix_ex_moderator true -}}
                      <span class="badge text-bg-success">Ex Moderator</span>
                    {{ end }}
                    {{ if eq .Params.website_developer true -}}
                      <span class="badge text-bg-primary">Website</span>
                    {{ end }}
                    {{ if eq .Params.website_content true -}}
                      <span class="badge text-bg-danger">Content</span>
                    {{ end }}
                    <h5 class="mb-0 mt-3">{{ .Params.title }}</h5>
                    <small class="pb-2 d-flex text-muted">
                      Since {{ .PublishDate.Format "Jan 2, 2006" }}
                    </small>
                    <p class="card-text mb-auto">
                      {{ if isset .Params "lead"}}
                        {{ truncate 80 " [...]" .Params.lead }}
                      {{ else }}
                        {{ if eq .Params.matrix_moderator true }}
                          Hi, I’m {{ .Params.title }}, a member of the moderation team.
                        {{ else if eq .Params.website_contributor true }}
                          Hi, I’m {{ .Params.title }}, a contributor to this website.
                        {{ end }}
                      {{ end }}
                    </p>
                    <a href="{{ .RelPermalink }}" class="stretched-link"></a>
                  </div>
                  <div class="col-auto">
                    {{ if ne $avatar_name "" }}
                      <img
                        class="img-fluid lazyload blur-up"
                        src="{{ $avatar | safeHTML }}"
                        alt="{{ .Params.title }} Avatar"
                        width="256"
                        height="256"
                      />
                      <!--
                        If no image was set, but the matrix_identifier was set, use
                        that to display the avatar from matrix.org.
                      -->

                    {{- else if isset .Params "matrix_identifier" -}}
                      {{- $avatar := "" -}}
                      <!--
                        Temporary store matrix identifier and title in a variable to
                        use them after range.
                      -->
                      {{ $matrix_user_identifier := .Params.matrix_identifier }}
                      {{ $user_title := .Params.title}}
                      {{ if isset $.Site.Data "matrix_users" }}
                        {{- range $.Site.Data.matrix_users -}}
                          {{- if eq .userId $matrix_user_identifier -}}
                            {{- with .avatar -}}
                              {{- $avatar = . -}}
                            {{- end -}}
                          {{- end -}}
                        {{- end -}}
                      {{- end -}}

                      {{- with $avatar -}}
                        <img
                          class="img-fluid lazyload blur-up"
                          src='{{ printf "https://matrix.org/_matrix/media/r0/thumbnail/%s?width=64&height=64&method=scale" (substr  $avatar 6) }}'
                          alt="{{ $user_title }} Avatar"
                          width="256"
                          height="256"
                        />
                      {{- end -}}
                    {{ else }}
                      <svg
                        class="bd-placeholder-img"
                        width="256"
                        height="256"
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                      >
                        <title>Missing Thumbnail</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="40%" y="43%" fill="#eceeef" dy=".3em">Missing</text>
                        <text x="36%" y="57%" fill="#eceeef" dy=".3em">Thumbnail</text>
                      </svg>
                    {{end}}
                  </div>
                </div>
              </div>
            {{ end -}}
          </div>
        </article>
      </div>
    </div>
  </div>
{{ end }}
