<!--

  Img Shortcode
  =============

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/chart.html
  DOCS:   /content/<language>/wiki/Help:Shortcode_Chart.md
  LIB:    chart.js, chartjs-adapter-moment, chartjs-plugin-annotation
  SCRIPT: /assets/js/chart.js

  Description
  -----------

  Use the chart shortcode to create charts.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->

{{- $width := default "100" (.Get "width") -}}
{{- $height := default "400" (.Get "height") -}}

{{/*<!--  Do not render, when the feature is disabled  --> */}}
{{- if .Site.Params.options.chartJs -}}
  {{- $random_id := delimit (shuffle (split (md5 now.UnixNano) "" )) "" -}}

  <div style="width: {{ $width }}%;height: {{ $height }}px;margin: 0 auto">
      <canvas id="{{ $random_id }}"></canvas>
  </div>

  <script type = "text/javascript"
  nonce = "9y6EUgx7+FgXutsZio8npnxsBZ8hsEWsQuMzVJLGsPSpAmHjD5AQZm7i5Hl3KvPq3p+tK77wd9fWHIaof9a1cA=="
  >
  document.addEventListener("DOMContentLoaded", function () {
    // Your code that uses Chart can go here
    var ctx = document.getElementById('{{ $random_id }}')
      .getContext('2d');
    var options = {{ .Inner | chomp | safeJS }};
    var myChart = new Chart(ctx, options);

    // TODO: Accept wildcard, that only changes all elements inside the
    //       structure, when the last element exists
    function set(obj, path, value) {
        var schema = obj
        var pList = path.split('.');
        var len = pList.length;
        for(var i = 0; i < len-1; i++) {
            var elem = pList[i];
            if( !schema[elem] ) schema[elem] = {}
            schema = schema[elem];
        }
        schema[pList[len-1]] = value;
    }

    function defined_structure(obj, attrs) {
        var tmp = obj;
        for(i=0; i<attrs.length; ++i) {
            if(tmp[attrs[i]] == undefined)
                return false;
            tmp = tmp[attrs[i]];
        }
        return true;
    }

    // TODO: Use CSS boder color instead of the defined one here.
    //
    // Update grid line colors
    function updateChartGridLines(isDarkMode) {
      const gridColor = isDarkMode ? 'rgba(255, 255, 255, 0.2)' : 'rgba(0, 0, 0, 0.1)';
      const fontColor = isDarkMode ? 'rgba(255, 255, 255, 0.8)' : 'rgba(0, 0, 0, 0.1)';

      // options.scales.x
      if(defined_structure(myChart, ['options', 'scales', 'x'])) {
        set(myChart, 'options.scales.x.grid.color', gridColor);
        set(myChart, 'options.scales.x.ticks.color', fontColor);
        if(defined_structure(myChart, ['options', 'scales', 'x', 'title'])) {
          set(myChart, 'options.scales.x.title.color', fontColor);
        }
      }

      // TODO: Fix y axis color
      //
      // options.scales.y
      if(defined_structure(myChart, ['options', 'scales', 'y'])) {
        set(myChart, 'options.scales.y.grid.color', gridColor);
        set(myChart, 'options.scales.y.ticks.color', fontColor);
        if(defined_structure(myChart, ['options', 'scales', 'y', 'title'])) {
          set(myChart, 'options.scales.y.title.color', fontColor);
        }
      }

      // options.plugins.legend
      if(defined_structure(myChart, ['options', 'plugins', 'legend'])) {
        set(myChart, 'options.plugins.legend.labels.color', fontColor);
      }
      set(myChart, 'options.plugins.title.color', fontColor);

      set(Chart, "defaults.font.size", 14);

      myChart.update();
    }

    const htmlElement = document.querySelector('html');

    // Handle attribute changes
    const handleThemeAttributeChange = (mutationsList, observer) => {
      for (const mutation of mutationsList) {
        if (mutation.type === 'attributes' && mutation.attributeName === 'data-bs-theme') {
          const newTheme = htmlElement.getAttribute('data-bs-theme');
          updateChartGridLines(newTheme === 'dark');
        }
      }
    };

    // Create a new MutationObserver
    const observer = new MutationObserver(handleThemeAttributeChange);
    const observerOptions = {
      attributes: true, // Watch for attribute changes
    };
    observer.observe(htmlElement, observerOptions);


    // Check the initial color mode and apply it to the chart because the
    // options that would account for that are static.
    function applyInitialColorMode() {
      const htmlElement = document.querySelector('html');
      const themeAttribute = htmlElement.getAttribute('data-bs-theme');

      const isDarkMode = themeAttribute === 'dark';
      themeAttribute.checked = isDarkMode;
      updateChartGridLines(isDarkMode);
    }
    applyInitialColorMode();
  });
  </script>
{{- end -}}
