<!-- 

  Details Shortcode
  =================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/details.html
  STYLE:  /assets/scss/components/_shortcode_details.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Details.md

  Description
  -----------

  Use the details shortcode to hide information in an expandable container.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->

<details{{ with .Get 1 }} {{ . | safeHTML }}{{ end -}}>
  <summary>{{ with .Get 0 -}}{{ . | safeHTML }}{{ else -}}{{ errorf "No summary provided"}}{{ end -}}</summary>
  {{ with .Inner -}}{{ . | markdownify}}{{ else -}}{{ errorf "No details provided"}}{{ end -}}
</details>
