<!--

  Graphviz Shortcode
  ==================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 2
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/graphviz.html
  STYLE:  /assets/scss/components/_shortcode_graphviz.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Graphviz.md
  PREP:   /utils/generate_graphviz_images
  DATA:   /graphviz/*
  DATA:   /static/images/graphviz/*
  CI:     /gitlab-ci.yml (build-graphviz)

  Description
  -----------

  Use graphviz to show, the during CI/CD pre-rendered, graphviz graphs as SVG
  vector images.

  Changelog
  =========

  Version 1 (2023-03-01)
  ----------------------

  Initial release

-->

{{- $src := .Get 0 -}}

{{- $path := printf "/images/graphviz/%s.svg" $src -}}
{{- $path_dark := printf "/images/graphviz/%s_dark.svg" $src -}}
{{- $test_path := printf "/static/images/graphviz/%s.svg" $src -}}
{{- $test_path_dark := printf "/static/images/graphviz/%s.svg" $src -}}
{{- $src_path := printf "/graphviz/%s.dot" $src -}}

{{- if not (fileExists $src_path) -}}
  {{ errorf "Failed to process graphviz shortcode: %s. The graphviz source file which you are trying to use as image with this shortcode does not exist. The source file should be located in \"%s\". This is not a matter of missing convertion on your local machine." $.Position $src_path }}
{{- end -}}

{{- if not (and (fileExists $test_path) (fileExists $test_path_dark)) -}}
  {{ if eq hugo.Environment "development" }}

    <div class="bd-callout bd-callout-warning" role="alert">
      <h5>⚠️ <b>DEVELOPMENT ENVIRONMENT WARNING:</b>&ThickSpace; Graphviz Graph not yet converted</h5>
      <br /><br />
      <div>
      If you are not working on this graphviz graph, you can safely ignore this
      warning!
      </div>
      <br /><br />
      <div style="font-family: monospace">
        <hr />
        <p>The sorce code was <b>found</b>: {{ $src_path -}}</p>
        <br />
        <p>The corresponding image (light) was found: <b>{{ fileExists $test_path }}</b></p>
        <br />
        <p>The corresponding image (dark) was found: <b>{{ fileExists $test_path }}</b></p>
        <br />
        <p>The corresponding image (light) path: <b>{{ $test_path }}</b></p>
        <br />
        <p>The corresponding image (dark) path: <b>{{ $test_path_dark }}</b></p>
        <hr />
      </div>
      <div>
        The source code must be compiled manually to an SVG image before it is
        showen in an development environment. In the production environment,
        this will work out-of-the-box.
        <br />
        You can compile it by running the <code>./utils/generate_graphviz_images</code>
        script in the root of the project repository on your development
        machine. Please keep in mind, you are required to have
        <code>chromium</code> installed. You may need to restart the hugo
        server afterwards.
      </div>
    </div>
  {{ else }}
    {{- if not (fileExists $test_path) -}}
      {{ errorf "Failed to process graphviz shortcode: %s. The light graphviz SVG **image** was not found in \"%s\". Please make sure the pipeline is setup correcly to convert the source code first. This error is only shown in a production environment" $.Position $test_path }}
    {{ end }}
    {{- if not (fileExists $test_path_dark) -}}
      {{ errorf "Failed to process graphviz shortcode: %s. The dark graphviz SVG **image** was not found in \"%s\". Please make sure the pipeline is setup correcly to convert the source code first. This error is only shown in a production environment" $.Position $test_path_dark }}
    {{ end }}
  {{ end }}
{{ else }}
  <img class="img-fluid mx-auto logo-light" src="{{ $path }}"></img>
  <img class="img-fluid mx-auto logo-dark d-none" src="{{ $path_dark }}"></img>
{{- end -}}
