<!--

  Moderators Shortcode
  ======================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes: None
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/moderators.html
  STYLE:  /assets/scss/components/_shortcode_contributors.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Moderators.md
  PREP:   /utils/get_matrix_users
  DATA:   /data/matrix_users.json
  CI:     /gitlab-ci.yml (get-data)

  Description
  -----------

  Use the moderators shortcode to display a list of moderators with an
  avatar infront of their names.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->

<!-- A variation of this shortcut is used in the reporting_issues shortcut -->

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Matrix</th>
      <th>Matrix Identifier</th>
    </tr>
  </thead>
  <tbody>
    {{ range where (where (where (where .Site.Pages "Section" "contributors")
    "Params.matrix_username" "!=" nil) "Params.matrix_identifier" "!=" nil)
    "Params.matrix_moderator" "==" true -}}

      {{- $matrix_user_identifier := .Params.matrix_identifier }}

      {{- $avatar := "" -}}
      {{ if isset $.Site.Data "matrix_users" }}
        {{- range $.Site.Data.matrix_users -}}
          {{- if eq .userId $matrix_user_identifier  -}}
            {{- with .avatar -}}
              {{- $avatar = (printf "https://matrix.org/_matrix/media/r0/thumbnail/%s?width=64&height=64&method=scale" (substr  . 6)) -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}

    <tr>
      <td>
        <a href="{{ .RelPermalink }}">

          {{- with $avatar -}}
          <img
            width="25"
            height="25"
            src="{{- . -}}">
          </img>
          {{- end -}}
          &ThickSpace; {{ .Params.title }}
        </a>
      </td>
      <td>
        <a target="_blank" rel="noopener" href="https://app.element.io/#/user/{{ .Params.matrix_identitier }}">
          {{ .Params.matrix_username }}
        </a>
      </td>
      <td>
        <a
          class="text-body"
          target="_blank"
          href="https://app.element.io/#/user/{{ .Params.matrix_identitier }}"
        >
          {{ .Params.matrix_identifier }}
        </a>
      </td>
    </tr>
    {{ end -}}
  </tbody>
</table>

<p class="text-muted fst-italic fw-light" style="margin-top:-2.5em; margin-bottom:2em">
  If you click on a moderators name or avatar, you get their profile page
</p>
